body {
    background-color: rgba(0, 0, 0, 0.911);
    color: gold;
    font-family: "Kaushan Script", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgba(54, 54, 54, 0.973);
    color: rgb(214, 214, 214);
    font-family: "Kaushan Script", cursive;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 70%;
}